.info-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    color: var(--light);
}

.carousel-item {
    max-height: 600px;
}

.description-media {
    display: none;
}

.caption-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-media {
    position: absolute;
    color: var(--light);
    top: 29%;
    left: 14%;
    width: 59%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.idbm-cotation {
    margin-left: 10px;
}

.title-info {
    font-size: 1.5rem;
    text-align: start;
}

@media only screen and (min-width : 1024px) {
    .section-banner {
        position: relative;
        z-index: -1;
    }

    .info-media {
        position: absolute;
        color: var(--light);
        top: 40%;
        left: 5%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .description-media {
        display: flex;
    }

    .title-info {
        font-size: 3rem;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }

    .idbm-info {
        text-align: start;
    }
}