.card {
  max-width: 250px;
  margin-left: 16%;
  margin-top: 3%;
  border: none;
}

.card-title {
  margin-bottom: 0.5rem;
  text-align: start;
  font-family: var(--font-primary-regular);
  font-weight: 600;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  text-align: start;
}

.release {
  font-family: var(--font-primary-regular);
}

.galery:after {
  content: '';
  width: 100%;
  height: 200px;
}

@media only screen and (min-width : 768px) { 
  .card {
    margin-top: 3%;
  }

}