:root {
    --base: #fafafa;
    --base-dark: #e8e8e8;
    --base-light: #f0f0f0;
    
  
    --color-primary: #111827;
  
    --color-secondary: #BE123C;
  
    --light: #f8f9fa;
    --dark: #343a40;
    --info: #767676;
    --warning: #deab21;
    --danger: #dc3545;
    --success: #1aa582;
  
    --font-primary-regular: 'DM Sans';
  }
