.container-footer {
    width: 100%;
    height: 140px;
    margin-top: auto;
    position: relative;
}

article.social-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.social-icon {
    border: none;
    background: none;
    font-size: 1.5rem;
}

.infocontainer {
    margin-top: 20px;
}

.info {
    font-family: var(--font-primary-regular);
    font-weight: 600;
    font-size: 1rem;
    margin-left: 26px;
}