
header {
    display: grid;
    grid-template-columns: 42% 58%;
    min-width: 362px;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.container-logo-brand {
    display: flex;
    align-items: center;
}

.brand-title {
    font-family: var(--font-primary-regular);
    font-weight: 600;
    font-size: 1rem;
    color: var(--light);
    padding-left: 4px;
}

.logo {
   width: 40px;
}

.header-search {
    margin-right: 2%;
}

.input-desktop {
    display: none;
}

input {
    font-family: var(--font-primary-regular);
    border-radius: 6px;
    color: var(--light);
    padding: 8px;
    border: 2px solid #FFFFFF;
    height: 36px;
    width: 90%;
    background-color: #00000007;
}

::placeholder {
    color: var(--light);
    opacity: 1;
}

.search-btn {
    color:  var(--light);
    margin-left: -29px;
    color: var(--color-primary);
    background-color: transparent;
    border: none;
}

input:hover, 
input:focus, 
input:focus-visible {
    border-color: rgb(190, 190, 190);
}

@media only screen and (min-width : 768px) {
    header {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        padding: 3% 0 0 5%;
    }

    .brand-title {
        font-size: 1.5rem;
        color: var(--light);
    }

    .header-search {
        display: flex;
        justify-content: center;
        margin-top: 1px;
    }

    .input-mobile {
        display: none;
    }

    .input-desktop {
        display: block;
    }

    .search-btn {
        color:  var(--light);
        margin-left: -29px;
        border: none;
    }
    input {
        background-color: #00000067;
    }
    
  }